@media screen and (max-width:400px){
    .section-hero{
        flex-direction: column;
        
    }
    .logo-conteiner{
      margin-left: 250px;
    }
    .navber-menu ul{
        flex-direction: column;
        margin-left: 250px;
        text-align: center;
        
    }
    .icon-color{
     width: 500px;
      
    }
    .icone{
        margin-right: 130px;
    }
    .navber-menu ul li a{
     
    }
    .banner-area{
       flex-direction: column;
       margin-left: 250px;
    }
    .banner-image{
        margin-top: 70px;
        width: 350px;
    }
    .gamer-everyone{
        flex-direction: column;
        margin-left: 150px;
        width: 100%;
    }
    .everyone-text{
        text-align: center;
        
    }
    .btn-more a{
     margin-left: -200px;
      width: 100%;
    }
    
}
@media screen and (max-width:768px) {
   
    .section-hero{
        flex-direction: column;
       margin-left: 20px;
    }
    .navber-menu ul{
        flex-direction: column;
        margin-top: 30px;
        
    }
    .banner-area{
        flex-direction: column;
        margin-top: 50px;
     }
     .banner-image{
        margin-top: 50px;
        width: 400px;
    }
    .gamer-everyone{
        flex-direction: column;
      
        width: 80%;
        margin-left: 50px;
    }
    .everyone-text{
        text-align: center;
        
    }
    .btn-more a{
        margin-left: -150px;
         width:40%;
       }
       .unleash{
    margin-left: 10px;
    }
    
}