@media screen and (max-width:400px){
    .section-hero{
        flex-direction: column;
        
    }
    .logo-conteiner{
      margin-left: 250px;
    }
    .navber-menu ul{
        flex-direction: column;
        margin-left: 250px;
        text-align: center;
        
    }
    .icon-color{
     width: 500px;
      
    }
    .icone{
        margin-right: 130px;
    }
    .navber-menu ul li a{
     
    }
    .banner-area{
       flex-direction: column;
    }
    .banner-image{
        margin-top: 50px;
        width: 350px;
    }
    
}
@media screen and (max-width:768px) {
   
    .section-hero{
        flex-direction: column;
       margin-left: 20px;
    }
    .navber-menu ul{
        flex-direction: column;
        margin-top: 30px;
        
    }
    .banner-area{
        flex-direction: column;
        margin-top: 50px;
     }
     .banner-image{
        margin-top: 50px;
        width: 400px;
    }
    
}